h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 50px;
    color: #2f3e46;
}

#par {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 40px;
    color: #2f3e46;
}

.calculator {
    height: 440px;
    width: 280px;
    background-color: #2f3e46;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid {
    display: flex;
    justify-content:center;
    margin-top: 50px;
    flex: 1;
    margin-right: 160px;
}

.pant {
    height: 80px;
    width: 235px;
    background-color: #FBFEF9;
    margin-top: 20px;
    border-radius: 6%;
    display: flex;
    align-items: center;
    justify-content: end;
    overflow:hidden;
    white-space: nowrap;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left: 20px;
}

.buttons .but{
    background-color: #FBFEF9;
    width: 50px;
    display: flex;
    border-radius: 35%;
    display: flex;
    justify-content: center;
}

p {
    font-size: 20px;
    font-weight:bolder;
    color: #2f3e46;
    text-overflow: ellipsis;
}

#eq {
    flex: 1;
    margin-right: 25px;
}

#textPant {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

#ult {
    background-color: #2f3e46;
    display: flex;
    flex-direction: column;
    width: 50px;
    gap: 4px;
}

.butin{
    flex: 1;
    background-color: #FBFEF9;
    border-radius: 35%;
    border: none;
}

.butinText{
    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
}

.sat {
    background-color: #FBFEF9;
    border: none;
}


.footer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
    gap: 10px;
    padding-right: 80px;
}

#container {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    gap: 128px;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: column;
    width: 300px;
}

#github {
    width: 35px;
    height: 35px;
}

.fuente {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    color: #2f3e46;
}

#link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a{
    text-decoration: none;
}

#parrafoDerecho {
    width: 100%;
}

#equal {
    background-color: #FBFEF9;
    width: 50px;
    display: flex;
    border-radius: 35%;
    display: flex;
    justify-content: center;
}